/* Envuélvelo dentro de un contenedor para evitar conflictos globales */
#social-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 40px 0; /* Asegura que no haya superposición */
}

#social-media-container ul {
    display: flex;
    list-style: none;
}

#social-media-container li {
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}

#social-media-container li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
}

/* Cada uno con su color único */
#social-media-container li:nth-child(1):before {
    background: #4267B2;
}
#social-media-container li:nth-child(2):before {
    background: #1DA1F2;
}
#social-media-container li:nth-child(3):before {
    background: #E1306C;
}
#social-media-container li:nth-child(4):before {
    background: #2867B2;
}
#social-media-container li:nth-child(5):before {
    background: #ff0000;
}

#social-media-container li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
}

#social-media-container li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #4267B2;
}
#social-media-container li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #1DA1F2;
}
#social-media-container li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #E1306C;
}
#social-media-container li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #2867B2;
}
#social-media-container li:nth-child(5):hover:before {
    box-shadow: 0 0 15px #ff0000;
}
